.board {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #bcb004;
    overflow: hidden;
  }
  
  .note {
    position: absolute;
    width: 200px;
    height: 150px;
    background-color: #f2e604;
    color: #000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    font-family: 'cursive'; 
    overflow: hidden; 
    display: flex;
    flex-direction: column;
  }
  
  .note.editing {
    cursor: text;
  }
  
  .note textarea {
    flex: 1;
    width: 100%;
    resize: none;
    font-family: 'cursive';
    box-sizing: border-box; 
  }
  
  .note button {
    margin-top: auto; 
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .note button:hover {
    background-color: #0056b3;
  }
  
  .add-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'cursive'; 
  }
  
  .add-button:hover {
    background-color: #0056b3;
  }
  